.main-contact__adress-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-top: 88px;
  margin-left: 29px;
}

.main-contact__adress-list__value {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.main-contact__adress-list__coordinates {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  width: 178px;
}

.main-contact__message-button {
  display: block;
  font-size: 18px;
  line-height: 50px;
  color: #444444;
  font-weight: bold;
  width: 255px;
  height: 50px;
  border: solid 2px #444444;
  background-color: #ffffff;
  margin-top: 33px;
  margin-left: 31px;
  text-align: center;
}

.main-contact__adress {
  margin: 0;
  margin-top: 23px;
  font-style: normal;
  padding-bottom: 74px;
}

.main-contact__street {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  width: 98px;
}

.main-contact__adress-list {
  margin-left: 27px;
}

.main-contact__mail {
  padding-bottom: 12px;
}

.main-contact__mailadress {
  padding-bottom: 10px;
  padding-left: 29px;
}

.main-contact__city {
  padding-top: 18px;
  padding-left: 28px;
}

.main-contact__map-wrapper {
  position: relative;
  margin-top: 34px;
}

.main-contact__map-wrapper::after {
  content: "";
  width: 66px;
  height: 101px;
  position: absolute;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  top: 147px;
  left: 140px;
}

@media (min-width: @tablet-width) {
  .main-contact__wrapper {
    width: 668px;
  }

  .main-contact__adress-item {
    vertical-align: top;
    display: table-cell;
    width: 334px;
  }
}
