.main-contact__adress-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-top: 88px;
  margin-left: -2px;
}

.main-contact__adress-list__value {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.main-contact__adress-list__coordinates {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  width: 178px;
}

.main-contact__message-button {
  display: block;
  font-size: 18px;
  line-height: 46px;
  color: #444444;
  font-weight: bold;
  width: 259px;
  height: 50px;
  border: solid 2px #444444;
  background-color: #ffffff;
  margin-top: 33px;
  text-align: center;
}

.main-contact__adress {
  margin: 0;
  margin-top: 23px;
  font-style: normal;
  padding-bottom: 33px;
  margin-left: -5px;
}

.main-contact__adres {
  padding-top: 1px;
}

.main-contact__street {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  width: 98px;
}

.main-contact__mail {
  padding-bottom: 12px;
}

.main-contact__mailadress {
  padding-bottom: 12px;
  padding-left: 26px;
}

.main-contact__city {
  padding-top: 15px;
  padding-left: 26px;
}

.main-contact__wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-contact__message {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-contact__adress-item {
  vertical-align: top;
}

@media (min-width: @tablet-width) {
  .main-contact__wrapper {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-contact__adress-item {
    vertical-align: top;
    display: table-cell;
    width: 334px;
  }

  .main-contact__message {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-contact__adress-title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    margin-left: 15px;
    margin-top: 43px;
  }

  .main-contact__adress-title::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 82px;
    right: 23px;
    top: -16px;
  }

  .main-contact__adress-list__value {
    font-size: 17px;
    line-height: 30px;
  }

  .main-contact__adress-list__coordinates {
    font-size: 16px;
    line-height: 30px;
    width: 221px;
    position: relative;
  }

  .main-contact__mailadress::before {
    content: "";
    border-bottom: solid 1px #62d1ba;
    position: absolute;
    width: 200px;
    top: 28px;
    left: 20px;
  }

  .main-contact__adress {
    margin-left: 15px;
    margin-top: 45px;
    padding-bottom: 50px;
  }

  .main-contact__city {
    padding-top: 0;
    padding-left: 20px;
  }

  .main-contact__message-button {
    width: 229px;
    margin-top: 55px;
    margin-left: 240px;
    margin-bottom: 59px;
    font-size: 17px;
  }
}

@media (min-width: @dextop-width) {
  .main-contact__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    padding-top: 87px;
    padding-left: 66px;
  }

  .main-contact__adress-item {
    display: table;
    width: 322px;
    order: 2;
    margin: 0;
  }

  .main-contact__message {
    order: 3;
    position: absolute;
    // width: 1150px;
    // padding: 0 50px;
    // margin: 0 auto;
    bottom: -56px;
    right: 427px;
  }

  .main-contact__wrapper-dextop {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 105px;
  }

  .main-contact__adress-title {
    font-size: 53px;
    line-height: 57px;
  }

  .main-contact__adress-title::before {
    left: -106px;
    top: -10px;
  }

  .main-contact__adress {
    margin-top: 11px;
  }

  .main-contact__mailadress {
    padding-left: 16px;
    padding-bottom: 24px;
  }

  .main-contact__message-button {
    margin-top: 6px;
    margin-left: 241px;
    margin-bottom: 60px;
    font-size: 17px;
  }

  .main-contact__adress-list__value {
    width: 53px;
  }

  .main-contact__city {
    padding-left: 15px;
    padding-bottom: 48px;
  }

  .main-contact__adress-list__coordinates {
    font-size: 17px;
  }
}
