.main-contact__adress-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-top: 88px;
}

.main-contact__adress-list__value {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.main-contact__adress-list__coordinates {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  width: 178px;
}

.main-contact__message-button {
  display: block;
  font-size: 18px;
  line-height: 50px;
  color: #444444;
  font-weight: bold;
  width: 259px;
  height: 50px;
  border: solid 2px #444444;
  background-color: #ffffff;
  margin-top: 33px;
  text-align: center;
}

.main-contact__adress {
  margin: 0;
  margin-top: 23px;
  font-style: normal;
  padding-bottom: 74px;
}

.main-contact__street {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  width: 98px;
}

.main-contact__mail {
  padding-bottom: 12px;
}

.main-contact__mailadress {
  padding-bottom: 10px;
  padding-left: 23px;
}

.main-contact__city {
  padding-top: 18px;
  padding-left: 23px;
}

.main-contact__wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-contact__message {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-contact__wrapper {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-contact__adress-item {
    vertical-align: top;
    display: table-cell;
    width: 334px;
  }

  .main-contact__message {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: @dextop-width) {
  .main-contact__wrapper {
    display: flex;
    width: 1150px;
    flex-wrap: wrap;
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-contact__adress-item {
    display: table;
    width: 334px;
    order: 2;
    margin: 0;
  }

  .main-contact__message {
    order: 3;
    width: 1150px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
