.main-nav__toggel {
  position: relative;
  border: none;
  background-color: #ffffff;
}

.main-nav__toggel::after,
.main-nav__toggel::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 3px;
  background-color: #323232;
  bottom: 58px;
  right: -280px;
}

.main-nav__toggel::before {
  transform: rotate(-45deg);
}

.main-nav__toggel::after {
  transform: rotate(45deg);
}

.main-nav__wrapper {
  margin-top: -24px;
  width: 320px;
}
