
.main-list__item-text {
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  width: 106px;
  display: block;
  padding-top: 27px;
  padding-left: 29px;
}

.main-list__color-1 {
  position: relative;
  background-color: #63d1bb;
  width: 320px;
  height: 103px;
}

.main-list__item {
  display: inline-block;
  vertical-align: top;
}

.main-list__color-2 {
  position: relative;
  background-color: #56c3b2;
  width: 320px;
  height: 103px;
}

.main-list__item-toy {
  position: absolute;
  top: 25px;
  left: 232px;
}

.main-list__item-interior {
  position: absolute;
  top: 23px;
  left: 244px;
}

@media (min-width: @tablet-width) {
  .main-list {
    display: flex;
  }

  .main-list__color-1 {
    display: inline-block;
    width: 334px;
    height: 120px;
  }

  .main-list__color-2 {
    display: inline-block;
    width: 334px;
    height: 120px;
  }
}

@media (min-width: @dextop-width) {
  .main-list {
    display: flex;
  }

  .main-list__color-1 {
    display: inline-block;
    width: 525px;
    height: 134px;
  }

  .main-list__color-2 {
    display: inline-block;
    width: 525px;
    height: 134px;
  }
}
