.main-catalog__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-top: 27px;
  margin-left: 28px;
}

.main-catalog__characteristic {
  display: block;
  font-size: 13px;
  line-height: 42px;
  color: #444444;
  font-weight: normal;
  width: 196px;
  height: 56px;
  margin-left: 28px;
  border-bottom: solid 1px #ececec;
}

.main-catalog__price {
  display: block;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  width: 112px;
  margin-left: 27px;
  padding-top: 21px;
  padding-bottom: 25px;
  padding: 0;
}

.main-catalog__wrapper-characteristic {
  border: solid 1px #ececec;
  background-color: #ffffff;
  width: 258px;
}

a .main-catalog__image {
  display: block;
}

img .main-catalog__image {
  vertical-align: bottom;
}

.main-catalog__wrapper-bigbascket {
  width: 258px;
}

.main-catalog__bascket-svg:hover {
  color: #63d1bb;
}

.main-catalog__bascket-svg:active {
  color: #63d1bb;
  opacity: 0.3;
}

.main-catalog__wrapper {
  margin-top: 27px;
}

.main-catalog__title-bascket {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-top: 28px;
  margin-left: 28px;
}

.main-catalog__title-bigbascket {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-top: 28px;
  margin-left: 28px;
}

@media (min-width: @tablet-width) {
  .main-catalog__wrapper {
    display: flex;
  }

  .main-catalog__image {
    display: inline-block;
  }

  .main-catalog__wrapper-characteristic {
    display: inline-block;
  }
}

@media (min-width: @dextop-width) {
  .main-catalog__wrapper {
    display: block;
  }

  .main-catalog__image {
    display: block;
  }

  .main-catalog__wrapper-characteristic {
    display: block;
  }
}
