.page-maincatalog__wrapper-headline {
  display: block;
  width: 320px;
  height: 176px;
  background-color: #f1f1f1;
}

.page-maincatalog__headline {
  margin: 0;
  font-size: 27px;
  line-height: 164px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}
