.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  position: relative;
  display: block;
  border-bottom: solid 1px #ececec;
  border-top: solid 1px #ececec;
  padding-left: 76px;
  line-height: 73px;
}

.site-list__text {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.site-list__svg {
  position: absolute;
  top: 28px;
  left: 31px;
}

@media (min-width: @tablet-width) {
  .site-list__item {
  padding-left: 0px;
  }

  .site-list__item {
  line-height: 0;
  }
}

@media (min-width: @dextop-width) {
  .site-list__item {
  padding-left: 0px;
  }

  .site-list__item {
  line-height: 0;
  }
}
