.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.site-list__text {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding-left: 75px;
}

.site-list__svg {
  position: absolute;
  top: 5px;
  left: 32px;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    padding-left: 0;
    line-height: 0;
  }
}

@media (min-width: @dextop-width) {
  .site-list__item {
    padding-left: 0;
    line-height: 0;
  }
}
