
.slider-controls__button-l {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 52px;
  background-color: #ffffff;
  border: solid 1px #ececec;
  vertical-align: top;
}

.slider-controls__button-l::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 26px;
  top: 12px;
  left: 36px;
}

.slider-controls__button-r {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 52px;
  background-color: #ffffff;
  border: solid 1px #ececec;
  vertical-align: top;
}

.slider-controls__button-r::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 26px;
  top: 12px;
  right: 42px;
}

.slider-controls {
  display: flex;
  margin-top: 31px;
}

@media (min-width: @tablet-width) {
  .slider-controls {
    margin: 0;
    order: 5;
    margin-left: 246px;
  }

  .slider-controls__button-l {
    width: 84px;
    height: 52px;
    border: solid 1px #ffffff;
  }

  .slider-controls__button-r {
    width: 84px;
    height: 52px;
    border: solid 1px #ffffff;
  }

  .slider-controls__button-l::after {
    left: 11px;
  }

  .slider-controls__button-r::after {
    right: 18px;
  }
}

@media (min-width: @dextop-width) {
  .slider-controls {
    order: 5;
  }


  .slider-controls__button-l::after {
    left: -12px;
  }

  .slider-controls__button-r::after {
    right: 40px;
  }
}
