.container {
  padding: 0 30px;
  margin: 0 auto;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}
